body {
    
	font-family: "Courier New", Courier, 'Courier New', Courier, monospace;
    background-color: #d0d0bace;
	margin: 0;
	padding: 0;
}

header {
	background-color: #9ea014ce;
	color: #262623;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin: 0 10px;
}

nav li a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
}

h1 {
	margin: 0;
}

h2 {
	margin-top: 0;
}

footer {
	background-color: #6d9e9b;
	color: #333;
	padding: 10px;
	text-align: center;
}
